ops
jinja2
git+https://opendev.org/openstack/charm-ops-openstack#egg=ops_openstack
git+https://github.com/openstack-charmers/advanced-sunbeam-openstack@v0.1#egg=advanced_sunbeam_openstack
lightkube
lightkube-models
python-keystoneclient
serialized-data-interface
