# Victoria
###############################################################################
# [ WARNING ]
# Configuration file maintained by Juju. Local changes may be overwritten.
###############################################################################
[DEFAULT]
use_syslog = {{ use_syslog }}
log_config_append = /etc/keystone/logging.conf
debug = {{ debug }}

public_endpoint = {{ public_endpoint }}

[identity]
driver = {{ identity_backend }}
{% if default_domain_id -%}
default_domain_id = {{ default_domain_id }}
{% endif -%}

{% if api_version == 3 -%}
domain_specific_drivers_enabled = True
domain_config_dir = {{ domain_config_dir }}
{% endif -%}

[credential]
driver = sql

[trust]
driver = sql

[catalog]
cache_time = {{ catalog_cache_expiration }}
driver = sql

[endpoint_filter]

[token]
expiration = {{ token_expiration }}

[fernet_tokens]
max_active_keys = {{ fernet_max_active_keys }}

{% include "parts/section-signing" %}

{% include "section-oslo-cache" %}
# This goes in the section above, selectively
# Bug #1899117
expiration_time = {{ dogpile_cache_expiration }}

[policy]
driver = sql

[assignment]
driver = {{ assignment_backend }}

[auth]
methods = {{ auth_methods }}

[paste_deploy]
config_file = {{ paste_config_file }}

[extra_headers]
Distribution = Ubuntu

[ldap]
{% if identity_backend == 'ldap' -%}
url = {{ ldap_server }}
user = {{ ldap_user }}
password = {{ ldap_password }}
suffix = {{ ldap_suffix }}

{% if ldap_config_flags -%}
{% for key, value in ldap_config_flags.iteritems() -%}
{{ key }} = {{ value }}
{% endfor -%}
{% endif -%}

{% if ldap_readonly -%}
user_allow_create = False
user_allow_update = False
user_allow_delete = False

tenant_allow_create = False
tenant_allow_update = False
tenant_allow_delete = False

role_allow_create = False
role_allow_update = False
role_allow_delete = False

group_allow_create = False
group_allow_update = False
group_allow_delete = False
{% endif -%}
{% endif -%}

{% if api_version == 3 %}
[resource]
admin_project_domain_name = {{ admin_domain_name }}
admin_project_name = admin
{% endif -%}

{% if password_security_compliance %}
[security_compliance]
{% for k, v in password_security_compliance.items() -%}
{{ k }} = {{ v }}
{% endfor -%}
{% endif -%}

{% include "parts/section-federation" %}

{% include "section-oslo-middleware" %}
# This goes in the section above, selectively
# Bug #1819134
max_request_body_size = 114688
